@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

* {
  font-family: "Kanit", sans-serif;
}
svg {
  vertical-align: baseline !important;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #fffefe !important;
  color: #b8b8b8;
}

body {
  background-color: #f0f2f5 !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

li.ant-menu-item.item-menu-ant-custom {
  font-size: 16px;
  display: flex;
  height: 45px;
  align-items: center;
  border-radius: 12px;

  &:hover {
    background-color: #f0f2f53d;
  }
}

:where(.css-dev-only-do-not-override-1me4733).ant-layout {
  background-color: #eeededbb;
  height: 100vh;
}
:where(.css-dev-only-do-not-override-1me4733).ant-layout .ant-layout-sider {
  background-color: #ffffff;
  min-width: 240px !important;
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-dark {
  background-color: transparent;
}

.input-full {
  border-radius: 10px;
  height: 42px;
  border: 1px solid rgb(221, 220, 220);
  background-color: "#FFFFFF";
}

.btn-delete-table{
 background-color: #ffb6cc !important;
}

.btn-edit-table{
  background-color: #c3e2ff !important;
 }

.logo {
  margin-top: 30px;
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-dark
  .ant-menu-item-selected {
  background-color: #0B63F8;
  color: white  !important;
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-dark.ant-menu-inline
  .ant-menu-item {
    color: black;
  border-radius: 14px;
}

:where(.css-dev-only-do-not-override-1me4733).ant-menu-inline.ant-menu-root
  .ant-menu-item
  > .ant-menu-title-content,
:where(.css-dev-only-do-not-override-1me4733).ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title
  > .ant-menu-title-content {
  font-size: 18px;
}

.filter-tap {
  margin-top: 40px;
}

:where(.css-dev-only-do-not-override-1me4733)[class^="ant-col"],
:where(.css-dev-only-do-not-override-1me4733)[class*=" ant-col"] {
  font-family: "Kanit", sans-serif !important;
}

:where(.css-dev-only-do-not-override-1me4733).ant-input:placeholder-shown {
  font-family: "Kanit", sans-serif !important;
}

:where(.css-dev-only-do-not-override-1me4733).ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
:where(.css-dev-only-do-not-override-1me4733).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  background: #ffffff !important;
  color: #000000 !important;
  font-weight: bold !important;
  font-family: "Kanit", sans-serif !important;
}

:where(.css-dev-only-do-not-override-1me4733).ant-btn-default {
  background-color: #030300;
  border-color: white;
  border-radius: 10px;
}

:where(.css-dev-only-do-not-override-1me4733).ant-btn.ant-btn-icon-only > span {
  color: white;
}

:where(.css-dev-only-do-not-override-1me4733).ant-pagination
  .ant-pagination-item-active {
  background-color: #030300;
  border-color: white;
  border-radius: 10px;
}

:where(.css-dev-only-do-not-override-1me4733).ant-pagination .ant-pagination-item-active a{
  color: white;
}

:where(.css-dev-only-do-not-override-1me4733).ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    height: 40px;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
}